/* General styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: #5C87B2;
    font-family: "Nunito", sans-serif;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    font-size: 12px;
    font-weight: 300;
}

/* Containers */

.container {
    background-color: #fff;
    width: 60%;
    height: 600px;
    margin: 50px auto;
    border-radius: 5px;
    padding: 60px 40px 40px 40px;
}

.section {
    display: flex;
}

.section:first-of-type {
    margin-bottom: 20px;
}

/* Input and Output */

.input-output-group {
    width: 75%;
    margin-right: 30px;
}

.input-output {
    width: 100%;
    border: solid 1px #ccc;
    padding: 5px;
}

#output-container {
    height: 350px;
    overflow-y: auto;
    cursor: default;
}

/* Buttons */

button {
    display: block;
    padding: 3px 5px;
    font-size: 12px;
    background: linear-gradient(0deg, rgba(237,237,240,1) 0%, rgba(231,231,231,1) 100%);
    border-color: #ccc;
}

.buttons {
    margin-top: 18px;
}

.buttons.show-options {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 140px;
}

.sort-buttons button {
    margin-bottom: 10px;
}

.sort-buttons button:last-of-type {
    margin-bottom: 0;
}

/*Selected items*/

.selected {
    background-color: #f0f0f0;
}

/* Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .modal-main {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    position: relative;
    overflow: auto; 
  }

  /* Modal Close Button */
.modal .close {
    color: #aaa;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 35px;
    font-weight: bold;
}
  
.modal .close:hover,
.modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal .content {
    margin-top: 20px;
}

pre code {
    white-space: pre-wrap;
}